.videoList {
    @include flex-column;
    width: 100%;
    height: calc(100% - 64px);
    padding: 10px 0;
    @include unselectable;
    .listTabHeader {
        font-size: larger;
        padding: 0 16px;
        margin-bottom: 12px;
        small {
            font-size: 12px;
            color: $dark-5;
            cursor: pointer;
        }
    }
    .listContent {
        width: 100%;
        overflow-x: hidden;
    }
}
