.item {
    @include flex-row;
    align-items: center;
    padding: $su-3;
    gap: $su-3;
    cursor: pointer;

    &:hover {
        background: $dark-2;
    }

    .preview {
        width: 86px;
        border-radius: 4px;
    }

    .info {
        @include flex-column;
        gap: $su-1;

        .name {
            font-size: $fs-s;
        }

        .tags {
            @include flex-row;
            gap: $su-1;

            .tag {
                @include flex-center;
                border-radius: $radius-auto;
                font-size: $fs-xs;
                color: $dark-7;
                padding: $su-1;
                background: $dark-3;
            }
        }

        .length {
            color: $dark-6;
            font-size: $fs-xs;
        }
    }
}
