.updateModal {
    @include flex-center;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    height: 100%;
    cursor: default;
    .updateLogoBox {
        width: 200px;
        height: 200px;
        @include spin;
    }
    .updateDataBox {
        @include flex-column;
        margin-top: 50px;
        align-items: center;
        width: 100%;
        h1 {
            font-size: 36px;
        }
        span {
            color: $dark-7;
        }
    }
}
