@use './index' as *;

.menu {
	@include flex-column;
	width: 30%;
	max-width: 320px;
	height: calc(100vh - 30px);
	background: $dark-1;
	.listTab {
		@include flex-column;
		width: 100%;
		height: calc(100% - 64px);
		padding: 10px 0;
		@include unselectable;
		.listTabHeader {
			font-size: larger;
			padding: 0 16px;
			margin-bottom: 12px;
			small {
				font-size: 12px;
				color: $dark-5;
				cursor: pointer;
			}
		}
		.videoList {
			@include flex-column;
			width: 100%;
			height: fit-content;
			overflow-y: scroll;
			.listContent {
				width: 100%;
				overflow-x: hidden;
				.videoObject {
					@include flex-row;
					align-items: center;
					width: 100%;
					min-height: 80px;
					max-height: 80px;
					padding: 0 16px;
					cursor: pointer;
					@include transition(60ms);
					img {
						width: 86px;
						height: 60%;
						object-fit: cover;
						margin-right: 10px;
						border-radius: 4px;
					}
					.videoObjectInfo {
						@include flex-column;
						justify-content: center;
						height: 100%;
						h4 {
							font-size: 14px;
							overflow-x: hidden;
							white-space: nowrap;
						}
						.videoObjectTags {
							@include flex-row;
							width: 100%;
							height: 20px;
							margin: 6px 0;
							.videoObjectTag {
								@include flex-center;
								flex-direction: row;
								border-radius: 4px;
								font-size: 12px;
								color: $dark-7;
								padding: 4px;
								background: $dark-3;
								margin-right: 4px;
							}
						}
						.videoObjectLength {
							color: $dark-6;
							font-size: 12px;
						}
					}
					&:hover {
						background: $dark-2;
					}
					&:active {
						background: initial;
					}
				}
			}
		}
	}
	.appMenu {
		@include flex-row;
		justify-content: space-between;
		width: 100%;
		height: 64px;
		align-items: center;
		background: darken($dark-2, 2%);
		padding: 0 10px;
		cursor: default;
		span {
			font-size: 14px;
			color: $dark-6;
		}
		.menuGroup {
			@include flex-row;
			.menuBtn {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 36px;
				border-radius: 6px;
				padding: 6px;
				cursor: pointer;
				margin-left: 6px;
				@include transition;
				svg {
					height: 80%;
					fill: $dark-8;
					stroke: $dark-8;
				}
				&:first-child {
					margin-left: 0;
				}
				&:hover {
					background: $dark-3;
				}
				&:active {
					background: lighten($dark-3, 5%);
				}
			}
		}
	}
}
