@use './index' as *;
@use './animations' as anim;

.modalContainer {
	@include flex-center;
	@include anim.fade-in(0.16s);
	width: 100vw;
	height: calc(100vh - 30px);
	position: fixed;
	bottom: 0;
	z-index: 1;
	.modalOverlay {
		width: 100%;
		height: 100%;
		z-index: 2;
		background: black;
		opacity: 0.7;
		position: absolute;
	}
	.modalContent {
		@include flex-column;
		@include anim.pop-in(0.16s);
		width: 460px;
		height: 500px;
		max-height: calc(100vh - 40px);
		background: $dark-3;
		border-radius: 6px;
		z-index: 3;
		box-shadow: $shadow-darken;
		overflow: hidden;
		margin: 40px 0;
		.modalHeader {
			@include flex-row;
			@include unselectable;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 20px;
			margin: 18px 0 24px 0;
			padding: 0 14px;
			.modalTitle {
				font-weight: 700;
				font-size: 22px;
			}
			.modalCloseBtn {
				height: 100%;
				svg {
					@include flex-center;
					width: 20px;
					fill: $svg;
					opacity: 0.6;
					transition: opacity 0.1s cubic-bezier(1, 0.3, 0.51, 0.6);
					&:hover {
						opacity: 1;
					}
				}
			}
		}
		.modalBody {
			width: 100%;
			height: calc(100% - 20px);
			overflow-y: scroll;
			.infoModal {
				@include flex-column;
				width: 100%;
				height: 100%;
				padding: 0 14px;
				.infoModalPreview {
					width: 100%;
					min-height: 200px;
					border: 2px solid $dark-5;
					border-radius: 6px;
				}
				.infoModalContent {
					width: 100%;
					height: fit-content;
					margin: 20px 0;
				}
			}
			.settingsModal {
				@include flex-column;
				width: 100%;
				padding: 0 14px;
				.settingsBox {
					width: 100%;
					height: fit-content;
					margin-top: 14px;
					&:first-child {
						margin: 0;
					}
					.settingsTitle {
						font-size: 18px;
					}
					.settingsWarning {
						font-size: 14px;
						font-weight: 600;
						color: rgb(230, 41, 41);
					}
					.settingsBindObject {
						@include flex-row;
						align-items: center;
						width: 100%;
						height: 32px;
						margin: 16px 0;
						input,
						select {
							margin-right: 12px;
							padding: 8px;
							background: $dark-2;
							border-radius: 4px;
							font-size: 14px;
						}
						span {
							color: $dark-8;
						}
					}
				}
			}
		}
		.modalFooter {
			@include flex-row;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			height: 50px;
			padding: 8px 14px;
			background: $dark-2;
			a {
				@include grid-center;
				width: fit-content;
				height: 100%;
				margin-right: 10px;
				cursor: pointer;
				svg {
					fill: $svg;
					width: 20px;
					&:hover {
						fill: lighten($svg, 8%);
					}
				}
			}
			span {
				color: $dark-6;
				font-size: 13px;
				margin-left: 6px;
				a {
					display: initial;
					margin: 0;
				}
			}
		}
		.modalFooterSettings {
			@extend .modalFooter;
			justify-content: space-between;
			.checkForUpdatesBtn {
				@include flex-center;
				background: $dark-4;
				padding: 6px;
				border-radius: 6px;
				box-shadow: $shadow-lighten;
				div {
					width: 20px;
					height: 20px;
					svg {
						width: 20px;
						fill: $dark-7;
					}
				}
				span {
					color: $dark-7;
				}
				@include transition;
				&:hover {
					background: $dark-5;
				}
			}
			.spinAnimation {
				@include anim.spin();
			}
		}
	}
	.popOutAnimation {
		@include anim.pop-out(0.16s);
	}
}
.fadeOutAnimation {
	@include anim.fade-out(0.16s);
}
