.titleBar {
    @include flex-row;
    @include unselectable;
    height: $titlebar-height;
    background: $dark-0;
    -webkit-app-region: drag;

    .title {
        @include grid-center;
        margin-left: $su-3;
        font-weight: 700;
        font-size: $fs-s;
        color: $dark-6;
    }

    .handlers {
        @include flex-row;
        -webkit-app-region: no-drag;

        .handler {
            @include grid-center;
            width: 40px;
            background: transparent;
            cursor: pointer;

            svg {
                width: 40%;
                height: 40%;
                fill: $svg;
            }

            @include transition;
            &:hover {
                background: $dark-3;
                svg {
                    fill: white;
                }
                &[data-type='danger'] {
                    background: $danger-red;
                }
            }
        }
    }
}
